@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

body {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    color: white;
    background-color:aliceblue;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.wrapper {
    padding: .5rem;
    width: 320px;
    background-color: white;
    height: 585px;
    border-radius: 1rem;
    border: .5px solid gainsboro;
    box-shadow: 0px 10px 20px #E9E9EA;
}

img {
    width:100%;
}

nav {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 35px;
}

main {
   position: relative; 
   height: 450px;
   width: 100%;
   background-color:  beige;
   border-radius: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dog-image {
    border-radius: .5rem;
}

#dislike-badge, #like-badge {
    position: absolute;
    width: 120px;
    left: 20px;
    top: 40px;
    transform: rotate(-20deg);
    display: none;
}

.description {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width:80%;
}

h2 {
    margin-bottom: 0;
}


.reset-msg {
    color: black;
    text-align: center;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    width: 80%;
    border: .5px solid darkgray;
    line-height: 1.5rem;
}

.choice-btns {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.choice-btn {
    margin: 0 .5rem;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0px 10px 20px #E9E9EA;
}

#like-btn:hover {
    background-color: #DBFFF4;
    transition: 0.3s;
}

#dislike-btn:hover {
    background-color: #FFE7EF;
    transition: 0.3s;
}